@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

html, body {
	transition: background-color 0.5s ease, color 0.5s ease;
}



.borderBlack {
  @apply border border-black/10;
}

.animation-delay-3000 {
  animation-delay: 3s;
}

/* styles/globals.css or your main css file */
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@media (max-width: 639px) {
  .vertical-timeline-element-date {
    display: none !important;
  }
}

.vertical-timeline-element-content::before {
  display: none !important;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
